# cfg.get("", "new_path") -> "app.ini"
new_path = app.ini

[Server]
# cfg.has_field("Server", "app_name") == true
# cfg.get("Server", "app_name") -> ""
app_name =
   host=  metaclip.ru 
version = 0.6.7
api-endpoint = /api/v1 ; inline comments are not supported. this is a part of the value.

[  xXx_A ridiculous but valid] name_xXx  ]
; cfg.get("xXx_A ridiculous but valid] name_xXx", "I love C++") -> "true = 1" 
I love C++ = true = 1

[Server]
# cfg.get("Server", "host") -> "mclip.ru";  only the last occurence is saved.
host = mclip.ru